/* Header */
#logo > a
{
    margin: auto;
    display: block;
    width: 200px;
}
#logo > a > img
{
    width: 200px;
    height: 200px;
}

.dangNhap
{
    display: flex;
    justify-content: flex-end;
}
.dangNhap a
{
    color: black;
    padding: 10px;
    font-size: 15px;
}

#nav
{
    margin: 20px 0px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.75);
}
#nav a
{
    display: inline-block;
    color: white;
    padding: 10px;
    font-size: 18px;
}

/* Section  */
.tenDanhMuc
{
    margin-top: 30px;
    font-size: 20px;
}
.hr
{
    background-color: black;
    height: 1px;
    border: none;
}

.danhMucCon > img
{
    width: 100%;

}
.danhMucCon > h3
{
    margin-top: 10px;
    font-size: 15px;
    color: black;
}
.danhMucCon > p
{
    color: black;
}

/* Footer  */
footer{
    background-color:#393c3f;
    color: white;
}
.footerItem
{
    margin-bottom: 30px;
}
.footerItem > div > h4
{
    font-size: 18px;
    margin: 30px auto -10px 0px;
    /* margin-left: -10px; */
    /* padding: 10px; */
}
.footerItem > div > hr
{
    background-color: white;
}
.footerItem > div > a
{
    color: white;
    display: block;
    margin: 10px auto;
}
#footerP
{
    background-color: #212529;
}
#footerP > p {
    text-align: center;
    margin: 0px;
    padding: 10px 0px;
}

.thongTinSP button
{
    margin: auto 5px;
}

.thongBao
{
    text-align: center;
    margin: 150px auto;
}

.icon
{
    width: 25px;
}
/* END  */